In [32]:
import pandas as pd
from re import sub
from FileReader import File_Reader
from numpy import transpose as t
from numpy import matrix as mat, matmul as mm
import math as m
import numpy as np
import pandas as pd
from LeastSquares import LS

f = File_Reader()

#one error found so far is that in the 'engo531_lab1.ext' file extra tabs are used which means that the file needs to be cleaned in order to properly read in the data
#second error was found from additional tabs in the int file
#int file also contain inconsistant spacing delimeters which resulted in additional processing
    
f.pho

def rhc():
    """
    Desc:
        converts from LHC to RHC
        Must be formatted to assign or return the x, y coordinates as desired
    Input:
        none atm
    Out:
        none atm
    """
    #n_ij (number of columns for that pixel)
    n_ij = 2015.203
    #y_ij (number of rows for that pixel)
    m_ij = 1566.904

    #pixel spacing
    delta_x = delta_y = 3.45e-6

    #normal principal distance mm divided by meters
    n_p_d = 7/1000

    #number of pixels for total columns
    N = 4000

    #number of rows of pixels
    M = 3000

    x_ij = (n_ij-((N/2)-.5))*delta_x
    y_ij = (((M/2)-.5)-m_ij)*delta_x
    
def M(w,k,o):
    """
    Desc:
        converts from LHC to RHC
        Must be formatted to assign or return the x, y coordinates as desired
    Input:
        w, in radians
        k, in radians
        o, in radians
    Out:
        none atm
     """
    temp = mat(np.zeros((3,3)))
    #row zero
    temp[0,0] = m.cos(o)*m.cos(k)
    temp[0,1] = m.cos(w)*m.sin(k)+m.sin(w)*m.sin(o)*m.cos(k)
    temp[0,2] = m.sin(w)*m.sin(k)-m.cos(w)*m.sin(o)*m.cos(k)

    #row one
    temp[1,0] = -m.cos(o)*m.sin(k)
    temp[1,1] = m.cos(w)*m.cos(k)-m.sin(w)*m.sin(o)*m.sin(k)
    temp[1,2] = m.sin(w)*m.cos(k)+m.cos(w)*m.sin(o)*m.sin(k)

    #row two
    temp[2,0] = m.sin(o)
    temp[2,1] = -m.sin(w)*m.cos(o)
    temp[2,2] = m.cos(w)*m.cos(o)
    
w = 1.432
k = .954
o = .124

M(w,k,o)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 61)

In [14]:
#df[0].to_list()

             X     Y     Z
point_id
71        2200  2500 -1200
85        2800  2000   500
89        2800  2000  -200
132       1800  3000  -800
133       2300  2400  -600

In [5]:
from LeastSquares import LS  
from FileReader import File_Reader
  
df = LS().read_pho()

u_list = []
x_0 = []
c = []
        #pretty sure datums aren't actually used
datums = []

        #assign values
for index, row in df.iterrows():
    print(row)
    """
    #check if known or unknown
    if row[3] == "u":
                #unknown name
        u_list.append(row[0]+"_x")
        u_list.append(row[0]+"_y")

                #add unknown values in order of x, y
        x_0.append(row[1])
        x_0.append(row[2])
    else: #then they are "n" --> knowns
                #known name
        datums.append(row[0]+"_E")
        datums.append(row[0]+"_N")

                #add known values in order of x, y
        c.append(row[1])
        c.append(row[2])
                
x_0 = t(mat(x_0))
c = t(mat(c))
u = len(u_list)"""

point_id         24
image_id          1
x            2015.2
y            1566.9
unique_id       241
Name: 0, dtype: object
point_id          24
image_id           5
x            1238.81
y            1498.44
unique_id        245
Name: 1, dtype: object
point_id          24
image_id           8
x            2245.99
y            1155.07
unique_id        248
Name: 2, dtype: object
point_id          71
image_id           1
x            3139.42
y            2266.36
unique_id        711
Name: 3, dtype: object
point_id          71
image_id           5
x            3180.29
y            2705.55
unique_id        715
Name: 4, dtype: object
point_id          85
image_id           8
x            2452.26
y            2987.18
unique_id        858
Name: 5, dtype: object
point_id          85
image_id           9
x            2472.28
y            2963.37
unique_id        859
Name: 6, dtype: object
point_id          89
image_id           1
x            3602.55
y            1692.21
unique_id        891
Name: 7, dtype: object
point_id          89
image_id           5
x            3901.91
y            1921.24
unique_id        895
Name: 8, dtype: object
point_id          89
image_id           8
x            1997.25
y            2964.14
unique_id        898
Name: 9, dtype: object
point_id         A5
image_id          5
x            1277.3
y            213.14
unique_id       A55
Name: 10, dtype: object
point_id          A5
image_id           8
x            3905.82
y            1195.98
unique_id        A58
Name: 11, dtype: object
point_id          A5
image_id           9
x            3992.34
y             869.57
unique_id        A59
Name: 12, dtype: object
point_id          B1
image_id           1
x             2545.8
y            970.779
unique_id        B11
Name: 13, dtype: object
point_id          B1
image_id           5
x            2720.12
y            670.039
unique_id        B15
Name: 14, dtype: object
point_id          B1
image_id           8
x            2811.02
y            2009.29
unique_id        B18
Name: 15, dtype: object
point_id          B1
image_id           9
x            2855.07
y            1939.04
unique_id        B19
Name: 16, dtype: object
point_id          B2
image_id           1
x            3005.46
y            890.515
unique_id        B21
Name: 17, dtype: object
point_id          B2
image_id           5
x            3090.23
y            361.129
unique_id        B25
Name: 18, dtype: object
point_id          B2
image_id           8
x            2889.25
y            2471.26
unique_id        B28
Name: 19, dtype: object
point_id          B2
image_id           9
x            2953.34
y            2411.03
unique_id        B29
Name: 20, dtype: object
point_id          B8
image_id           1
x            2590.09
y             1358.9
unique_id        B81
Name: 21, dtype: object
point_id          B8
image_id           5
x               2748
y            1201.66
unique_id        B85
Name: 22, dtype: object
point_id          B8
image_id           8
x            2401.83
y            2015.85
unique_id        B88
Name: 23, dtype: object
point_id          B8
image_id           9
x             2418.8
y            1937.06
unique_id        B89
Name: 24, dtype: object
point_id          B9
image_id           1
x            3032.08
y            1328.76
unique_id        B91
Name: 25, dtype: object
point_id         B9
image_id          5
x            3104.7
y            1123.5
unique_id       B95
Name: 26, dtype: object
point_id          B9
image_id           8
x            2412.26
y            2443.15
unique_id        B98
Name: 27, dtype: object
point_id          B9
image_id           9
x            2428.22
y            2370.85
unique_id        B99
Name: 28, dtype: object
point_id         132
image_id           1
x            2715.21
y            2024.79
unique_id       1321
Name: 29, dtype: object
point_id         132
image_id           5
x            2831.67
y            2124.49
unique_id       1325
Name: 30, dtype: object
point_id         133
image_id           1
x            3188.11
y            1898.57
unique_id       1331
Name: 31, dtype: object
point_id         133
image_id           5
x            3253.84
y            2131.44
unique_id       1335
Name: 32, dtype: object
point_id         A32
image_id           1
x            1321.66
y            2824.13
unique_id       A321
Name: 33, dtype: object
point_id         A32
image_id           5
x            497.523
y            2021.34
unique_id       A325
Name: 34, dtype: object
point_id         A32
image_id           8
x            1366.08
y            237.245
unique_id       A328
Name: 35, dtype: object
point_id         A33
image_id           1
x            1969.69
y            2307.45
unique_id       A331
Name: 36, dtype: object
point_id         A33
image_id           5
x            1108.78
y            1982.52
unique_id       A335
Name: 37, dtype: object
point_id         A33
image_id           8
x            1616.87
y            1033.16
unique_id       A338
Name: 38, dtype: object
point_id         A34
image_id           1
x            2251.55
y            2091.73
unique_id       A341
Name: 39, dtype: object
point_id         A34
image_id           5
x             1683.1
y            1952.88
unique_id       A345
Name: 40, dtype: object
point_id         A34
image_id           8
x            1744.04
y            1457.86
unique_id       A348
Name: 41, dtype: object
point_id         A34
image_id           9
x             1745.3
y            1202.76
unique_id       A349
Name: 42, dtype: object
point_id         A35
image_id           1
x            2411.55
y            1971.15
unique_id       A351
Name: 43, dtype: object
point_id         A35
image_id           5
x             2232.5
y            1925.22
unique_id       A355
Name: 44, dtype: object
point_id         A35
image_id           8
x            1821.98
y             1725.4
unique_id       A358
Name: 45, dtype: object
point_id         A35
image_id           9
x             1815.9
y            1572.52
unique_id       A359
Name: 46, dtype: object
point_id         BS8
image_id           1
x            3334.18
y            1157.51
unique_id       BS81
Name: 47, dtype: object
point_id         BS8
image_id           5
x            3487.62
y            725.999
unique_id       BS85
Name: 48, dtype: object
point_id         BS8
image_id           8
x            2583.26
y            2771.59
unique_id       BS88
Name: 49, dtype: object
point_id         BS8
image_id           9
x            2618.83
y            2726.34
unique_id       BS89
Name: 50, dtype: object
point_id        AS10
image_id           1
x            2055.44
y            266.933
unique_id      AS101
Name: 51, dtype: object
point_id        AS10
image_id           5
x            1477.28
y            380.549
unique_id      AS105
Name: 52, dtype: object
point_id        AS10
image_id           8
x            3550.64
y            1343.43
unique_id      AS108
Name: 53, dtype: object
point_id        AS10
image_id           9
x            3623.12
y            1070.16
unique_id      AS109
Name: 54, dtype: object
point_id        AS12
image_id           1
x            1659.21
y             21.946
unique_id      AS121
Name: 55, dtype: object
point_id        AS12
image_id           5
x            854.472
y            569.512
unique_id      AS125
Name: 56, dtype: object
point_id        AS12
image_id           8
x             3745.2
y            751.004
unique_id      AS128
Name: 57, dtype: object
point_id        AS31
image_id           5
x            403.806
y            2520.36
unique_id      AS315
Name: 58, dtype: object
point_id        AS31
image_id           8
x            395.491
y             71.719
unique_id      AS318
Name: 59, dtype: object
point_id        AS32
image_id           5
x            2126.52
y            2351.42
unique_id      AS325
Name: 60, dtype: object
point_id        AS32
image_id           8
x            1436.08
y            1668.83
unique_id      AS328
Name: 61, dtype: object
point_id        AS32
image_id           9
x            1416.65
y            1492.05
unique_id      AS329
Name: 62, dtype: object
point_id        BS11
image_id           1
x            2536.54
y            1486.95
unique_id      BS111
Name: 63, dtype: object
point_id        BS11
image_id           5
x            2718.11
y            1374.34
unique_id      BS115
Name: 64, dtype: object
point_id        BS11
image_id           8
x            2274.16
y             1954.9
unique_id      BS118
Name: 65, dtype: object
point_id        BS11
image_id           9
x            2283.99
y            1875.72
unique_id      BS119
Name: 66, dtype: object
point_id        BS17
image_id           1
x            2715.21
y            2024.79
unique_id      BS171
Name: 67, dtype: object
point_id        BS17
image_id           5
x            2831.67
y            2124.49
unique_id      BS175
Name: 68, dtype: object
point_id        BS20
image_id           1
x            3430.11
y            2186.83
unique_id      BS201
Name: 69, dtype: object
point_id        BS20
image_id           5
x            3553.11
y            2822.97
unique_id      BS205
Name: 70, dtype: object
point_id        BVS5
image_id           1
x            3186.27
y            652.426
unique_id      BVS51
Name: 71, dtype: object
point_id        BVS5
image_id           8
x            3159.74
y            2690.96
unique_id      BVS58
Name: 72, dtype: object
point_id        BVS5
image_id           9
x            3262.98
y            2651.95
unique_id      BVS59
Name: 73, dtype: object
point_id        BVS6
image_id           1
x            2978.76
y            695.651
unique_id      BVS61
Name: 74, dtype: object
point_id        BVS6
image_id           5
x            3068.34
y             26.735
unique_id      BVS65
Name: 75, dtype: object
point_id        BVS6
image_id           8
x            3109.94
y            2469.03
unique_id      BVS68
Name: 76, dtype: object
point_id        BVS6
image_id           9
x            3197.32
y            2413.64
unique_id      BVS69
Name: 77, dtype: object
point_id       AVS50
image_id           1
x            1978.02
y            245.165
unique_id     AVS501
Name: 78, dtype: object
point_id       AVS50
image_id           5
x            1300.91
y            457.559
unique_id     AVS505
Name: 79, dtype: object
point_id       AVS50
image_id           8
x            3561.36
y            1214.44
unique_id     AVS508
Name: 80, dtype: object
point_id       AVS50
image_id           9
x            3630.62
y            892.916
unique_id     AVS509
Name: 81, dtype: object
point_id       AVS51
image_id           5
x             1581.9
y            467.114
unique_id     AVS515
Name: 82, dtype: object
point_id       AVS51
image_id           8
x            3386.81
y            1418.95
unique_id     AVS518
Name: 83, dtype: object
point_id       AVS51
image_id           9
x            3454.55
y            1168.44
unique_id     AVS519
Name: 84, dtype: object
point_id       AVS57
image_id           1
x            1535.18
y            143.915
unique_id     AVS571
Name: 85, dtype: object
point_id       AVS57
image_id           5
x            710.172
y            733.978
unique_id     AVS575
Name: 86, dtype: object
point_id       AVS57
image_id           8
x            3596.99
y            564.895
unique_id     AVS578
Name: 87, dtype: object
point_id       AVS58
image_id           1
x            1999.77
y            581.903
unique_id     AVS581
Name: 88, dtype: object
point_id       AVS58
image_id           5
x            1306.28
y            731.409
unique_id     AVS585
Name: 89, dtype: object
point_id       AVS58
image_id           8
x            3203.95
y            1217.52
unique_id     AVS588
Name: 90, dtype: object
point_id       AVS58
image_id           9
x            3258.46
y            892.598
unique_id     AVS589
Name: 91, dtype: object
point_id       AVS59
image_id           5
x            1865.99
y            729.965
unique_id     AVS595
Name: 92, dtype: object
point_id       AVS59
image_id           8
x            2984.47
y            1580.28
unique_id     AVS598
Name: 93, dtype: object
point_id       AVS59
image_id           9
x            3034.53
y            1385.37
unique_id     AVS599
Name: 94, dtype: object
point_id       AVS65
image_id           5
x            410.676
y            1063.15
unique_id     AVS655
Name: 95, dtype: object
point_id       AVS65
image_id           8
x            3228.74
y             39.752
unique_id     AVS658
Name: 96, dtype: object
point_id       AVS69
image_id           1
x            2163.93
y            1063.19
unique_id     AVS691
Name: 97, dtype: object
point_id       AVS69
image_id           5
x            1614.09
y            1046.04
unique_id     AVS695
Name: 98, dtype: object
point_id       AVS69
image_id           8
x            2718.36
y            1431.68
unique_id     AVS698
Name: 99, dtype: object
point_id       AVS69
image_id           9
x            2755.83
y            1177.61
unique_id     AVS699
Name: 100, dtype: object
point_id       AVS70
image_id           5
x            1887.27
y            1047.66
unique_id     AVS705
Name: 101, dtype: object
point_id       AVS70
image_id           8
x            2655.33
y             1586.1
unique_id     AVS708
Name: 102, dtype: object
point_id       AVS70
image_id           9
x            2690.25
y            1389.33
unique_id     AVS709
Name: 103, dtype: object
point_id       AVS71
image_id           5
x            2183.12
y            1031.42
unique_id     AVS715
Name: 104, dtype: object
point_id       AVS71
image_id           8
x            2617.42
y            1722.47
unique_id     AVS718
Name: 105, dtype: object
point_id       AVS71
image_id           9
x            2648.85
y             1578.6
unique_id     AVS719
Name: 106, dtype: object
point_id       AVS75
image_id           5
x            422.477
y             1336.1
unique_id     AVS755
Name: 107, dtype: object
point_id       AVS75
image_id           8
x            2662.84
y             77.143
unique_id     AVS758
Name: 108, dtype: object
point_id       AVS91
image_id           5
x            2528.78
y            1548.63
unique_id     AVS915
Name: 109, dtype: object
point_id       AVS91
image_id           9
x            2148.75
y            1742.58
unique_id     AVS919
Name: 110, dtype: object
point_id       BVS10
image_id           1
x            2770.64
y            932.379
unique_id     BVS101
Name: 111, dtype: object
point_id       BVS10
image_id           5
x            2879.47
y             569.81
unique_id     BVS105
Name: 112, dtype: object
point_id       BVS10
image_id           8
x            2847.24
y             2231.2
unique_id     BVS108
Name: 113, dtype: object
point_id       BVS10
image_id           9
x            2900.11
y            2162.01
unique_id     BVS109
Name: 114, dtype: object
point_id       BVS16
image_id           1
x            3518.84
y            1025.54
unique_id     BVS161
Name: 115, dtype: object
point_id       BVS16
image_id           5
x            3803.87
y            317.619
unique_id     BVS165
Name: 116, dtype: object
point_id       BVS16
image_id           8
x            2724.35
y            2986.02
unique_id     BVS168
Name: 117, dtype: object
point_id       BVS16
image_id           9
x            2781.81
y            2966.66
unique_id     BVS169
Name: 118, dtype: object
point_id       BVS35
image_id           1
x            3097.02
y            1810.49
unique_id     BVS351
Name: 119, dtype: object
point_id       BVS35
image_id           5
x            3151.87
y            1944.86
unique_id     BVS355
Name: 120, dtype: object
point_id       BVS36
image_id           1
x            2572.42
y            1795.63
unique_id     BVS361
Name: 121, dtype: object
point_id       BVS36
image_id           5
x            2735.06
y            1782.32
unique_id     BVS365
Name: 122, dtype: object
point_id       BVS36
image_id           8
x            1967.34
y            1960.38
unique_id     BVS368
Name: 123, dtype: object
point_id       BVS36
image_id           9
x            1959.51
y            1874.32
unique_id     BVS369
Name: 124, dtype: object
point_id       BVS37
image_id           1
x            2688.83
y            1927.81
unique_id     BVS371
Name: 125, dtype: object
point_id       BVS37
image_id           5
x            2809.66
y               1986
unique_id     BVS375
Name: 126, dtype: object
point_id       BVS37
image_id           8
x            1830.48
y            2054.72
unique_id     BVS378
Name: 127, dtype: object
point_id       BVS37
image_id           9
x            1810.99
y             1963.9
unique_id     BVS379
Name: 128, dtype: object
point_id       BVS38
image_id           1
x             3637.3
y            2057.96
unique_id     BVS381
Name: 129, dtype: object
point_id       BVS38
image_id           5
x            3912.59
y            2778.84
unique_id     BVS385
Name: 130, dtype: object
point_id       BVS42
image_id           1
x            2598.86
y            2058.76
unique_id     BVS421
Name: 131, dtype: object
point_id       BVS42
image_id           5
x            2750.34
y            2126.34
unique_id     BVS425
Name: 132, dtype: object
point_id       BVS42
image_id           8
x            1713.83
y            1961.04
unique_id     BVS428
Name: 133, dtype: object
point_id       BVS42
image_id           9
x            1692.31
y            1870.32
unique_id     BVS429
Name: 134, dtype: object
point_id       BVS43
image_id           1
x            3379.08
y            2288.66
unique_id     BVS431
Name: 135, dtype: object
point_id       BVS43
image_id           5
x            3464.92
y            2956.13
unique_id     BVS435
Name: 136, dtype: object
point_id       BVS44
image_id           1
x            2898.93
y            2249.11
unique_id     BVS441
Name: 137, dtype: object
point_id       BVS44
image_id           5
x            2959.24
y            2517.24
unique_id     BVS445
Name: 138, dtype: object
point_id      AVS104
image_id           5
x            501.235
y            2278.54
unique_id    AVS1045
Name: 139, dtype: object
point_id      AVS104
image_id           8
x            919.013
y            259.614
unique_id    AVS1048
Name: 140, dtype: object
point_id      AVS105
image_id           1
x            1748.94
y            2965.45
unique_id    AVS1051
Name: 141, dtype: object
point_id      AVS105
image_id           5
x            806.839
y            2240.04
unique_id    AVS1055
Name: 142, dtype: object
point_id      AVS105
image_id           8
x             1160.8
y              710.3
unique_id    AVS1058
Name: 143, dtype: object
point_id      AVS106
image_id           1
x             1989.3
y            2705.55
unique_id    AVS1061
Name: 144, dtype: object
point_id      AVS106
image_id           5
x            1105.55
y            2233.49
unique_id    AVS1065
Name: 145, dtype: object
point_id      AVS106
image_id           8
x             1293.5
y            1029.94
unique_id    AVS1068
Name: 146, dtype: object
point_id      AVS106
image_id           9
x            1307.65
y            627.466
unique_id    AVS1069
Name: 147, dtype: object
point_id      AVS107
image_id           5
x            1404.72
y            2203.81
unique_id    AVS1075
Name: 148, dtype: object
point_id      AVS107
image_id           8
x            1421.07
y            1274.04
unique_id    AVS1078
Name: 149, dtype: object
point_id      AVS107
image_id           9
x            1422.84
y            952.287
unique_id    AVS1079
Name: 150, dtype: object
point_id      AVS108
image_id           1
x            2272.52
y             2377.1
unique_id    AVS1081
Name: 151, dtype: object
point_id      AVS108
image_id           5
x            1692.17
y            2200.84
unique_id    AVS1085
Name: 152, dtype: object
point_id      AVS108
image_id           8
x            1491.96
y             1459.4
unique_id    AVS1088
Name: 153, dtype: object
point_id      AVS108
image_id           9
x            1485.35
y            1202.48
unique_id    AVS1089