In [1]:
import numpy as np
import pandas as pd
from Bundle import Bundle as B
import math as m
b = B()
print(b.obj.loc[b.obj['point_id'] == "24"])
print(b.ext.loc[b.ext["image_id"] == "5"])
b.ext[(b.ext["image_id"] == 5) | (b.ext["image_id"] == "5")]["w"]
b.pho['y'].to_list()

  point_id    X       Y      Z
0       24  0.0  1700.0  100.0
  image_id camera_id      Xc    Yc     Zc     w     o    k
1        5        99  2620.0  90.0  120.0  90.0  40.0  0.0

AttributeError: 'Bundle' object has no attribute 'obs_0'

In [1]:
import numpy as np
from Bundle import Bundle as B
b = B()
from Design_e import Design_e as Ae
from Design_o import Design_o as Ao
ae = Ae()
np.savetxt("ae.csv", ae.A, fmt = '%s', delimiter = ",")
ae.A

matrix([[-8.97042612e-01,  3.42366402e-01,  8.39926628e-02, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [-8.16206426e-02,  2.13272444e-02,  8.39926628e-02, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [-4.25329834e-01,  4.71730668e-01,  4.90829510e-02, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        ...,
        [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
          5.74240573e+02,  2.83481201e+03,  8.04542410e+02],
        [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         -2.12064389e+03,  1.35796385e+01, -6.03601346e+01],
        [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         -5.33561131e+01,  2.03300968e+03, -4.56976764e+02]])

In [1]:
from Design_o import Design_o as Ao
ao = Ao()
ao.set_X_0()
ao.obs_0()
ao.l_0

matrix([[2037.82430113],
        [1485.71410384],
        [3080.53424946],
        [1302.32343482],
        [2703.10759761],
        [1087.7577602 ],
        [3154.73343241],
        [1189.4894187 ],
        [2961.57190657],
        [2428.18083618],
        [1351.81287509],
        [ 291.24614062],
        [2562.09065279],
        [1305.94174603],
        [1971.82962322],
        [ 793.36003828],
        [3170.39111628],
        [2477.11504632],
        [2246.73559386],
        [1007.86341535],
        [1937.55371528],
        [2879.89775622],
        [3406.14318628],
        [ 940.18349902],
        [2403.67232181],
        [1128.5553883 ],
        [2704.04928419],
        [1083.50554584],
        [3355.5259533 ],
        [ 840.16618148],
        [3316.60322541],
        [1962.19990308],
        [2523.81677406],
        [1613.47450766],
        [2677.96640977],
        [1177.19468014],
        [2017.62093586],
        [2858.77710034],
        [2590.27481608],
        [1046.3662324 ],
        [1603.20627704],
        [3107.86690348],
        [2885.8438964 ],
        [ 868.59864138],
        [3015.66123543],
        [1782.53881197],
        [1769.77113592],
        [ 159.0028212 ],
        [1968.26389466],
        [2526.43537862],
        [2142.53490975],
        [2035.05547736],
        [3093.33465749],
        [ 852.24775518],
        [3570.59459807],
        [1444.23552242],
        [1998.98796021],
        [ 409.26580199],
        [2270.59571889],
        [ 728.23357376],
        [2527.90656908],
        [2136.69049898],
        [2752.45551006],
        [2179.82501726],
        [1480.58209108],
        [2975.62611238],
        [3610.13745257],
        [1068.97036235],
        [2575.90262641],
        [1743.33205263],
        [3502.17453961],
        [2100.27573427],
        [2988.3628276 ],
        [2228.53287515],
        [3225.22263091],
        [ 993.3102579 ],
        [1703.72724865],
        [1953.63705475],
        [2164.52126828],
        [ 626.57521901],
        [3956.85909086],
        [2628.87856572],
        [2868.91362699],
        [ 965.00788365],
        [2266.61718828],
        [1952.41007306],
        [ 533.44445611],
        [1969.72823186],
        [2793.71189136],
        [1589.87236602],
        [ 534.72590577],
        [1703.2806032 ],
        [2798.24418682],
        [1175.36033864],
        [2595.95648205],
        [1420.32192242],
        [1409.25533781],
        [2270.90227472],
        [2886.45447446],
        [ 824.19894471],
        [ 470.3193535 ],
        [ 547.2369327 ],
        [1688.51614794],
        [2525.77127697],
        [3616.8703812 ],
        [  72.13022825],
        [3197.30982472],
        [2941.68571464],
        [2986.67806443],
        [2427.89883124],
        [ 832.66292096],
        [2283.44655768],
        [1962.88815482],
        [2261.28431857],
        [1414.62588346],
        [2539.66525228],
        [2801.23932404],
        [ 824.093445  ],
        [1972.88942711],
        [1944.28665741],
        [2818.71810334],
        [2300.73857877],
        [1450.5755755 ],
        [ 811.53056552],
        [3210.22931695],
        [2603.14854715],
        [4064.99836074],
        [1019.92494263],
        [1738.13590072],
        [ 503.48211182],
        [1157.80124164],
        [ 796.39629213],
        [2830.58700916],
        [1763.38869078],
        [ 978.03161933],
        [2439.84761549],
        [3202.09942428],
        [1830.4097518 ],
        [ 867.37228925],
        [ 802.98645811],
        [2921.93742712],
        [ 824.32500482],
        [1738.093265  ],
        [ 800.35792164],
        [ 577.69948745],
        [1028.68611337],
        [3281.22046958],
        [ 761.91354862],
        [1169.28594733],
        [1043.03219532],
        [ 573.27647172],
        [ 778.64033009],
        [1734.13369299],
        [1049.0025122 ],
        [3005.53651432],
        [ 416.84368733],
        [2285.48239008],
        [1052.02531054],
        [3518.39206464],
        [ -59.93715685],
        [3184.51698682],
        [ 235.28440461],
        [3612.03659414],
        [2222.81033314],
        [2265.28832174],
        [ 536.48342464],
        [1329.5507391 ],
        [1488.3873303 ],
        [1590.78758117],
        [2613.37102353],
        [3998.65951001],
        [  97.60297956],
        [1401.71109361],
        [2782.3763505 ],
        [2430.75360395],
        [1216.7768466 ],
        [2466.30177424],
        [2794.47740125],
        [ 988.43941878],
        [1480.29951454],
        [1650.36395083],
        [ 872.62889403],
        [1229.29453002],
        [1669.6021491 ],
        [2649.99260884],
        [ 716.38156186],
        [1098.40941954],
        [1919.70689204],
        [2536.0592019 ],
        [ -52.20904942],
        [ 702.93928971],
        [2723.2463828 ],
        [1789.69239706],
        [ 972.07002084],
        [1530.68431768],
        [ 966.98725443],
        [2466.8436784 ],
        [1350.5917749 ],
        [1301.78487149],
        [1479.46368994],
        [ 959.58789244],
        [2250.06976308],
        [3295.36773732],
        [1698.33293457],
        [2525.10965515],
        [1500.47197228],
        [1241.10553169],
        [1265.06697494],
        [ 128.26863603],
        [2949.81842376],
        [3452.12899435],
        [2124.80141788],
        [2399.450456  ],
        [ 159.62015083],
        [1642.3470561 ],
        [1209.4413549 ],
        [1563.60422761],
        [1480.07896803],
        [1435.08063344],
        [1909.84259131],
        [2096.65227051],
        [ 982.35506768],
        [1178.37410628],
        [2718.97784165],
        [2221.64555343],
        [ 923.05732445],
        [2691.35481122],
        [ 477.04999637],
        [2615.14204992],
        [ 936.38212569],
        [3597.05990234],
        [1710.94540721],
        [1831.08542593],
        [ -71.28940665],
        [2285.58654388],
        [ -71.28940665],
        [2032.35965365],
        [1746.21218285],
        [2231.69271675],
        [ 488.40331938],
        [2944.7842192 ],
        [ 267.82036   ],
        [3287.42095569],
        [1577.25240045],
        [2897.61491947],
        [ 486.88573625],
        [3319.92720769],
        [2300.85335429],
        [2985.28107981],
        [2798.14253316],
        [3142.76029826],
        [1507.53949682],
        [1186.96675887],
        [1218.64056173],
        [2973.97785339],
        [1700.3696975 ],
        [2776.49704751],
        [1355.96428525],
        [2461.01263825],
        [1112.58536437],
        [3166.27240817],
        [ 538.99097119],
        [3506.02948948],
        [2137.21726626],
        [1497.99807507],
        [2345.41941021],
        [3059.77291953],
        [1037.76499318],
        [4349.24458291],
        [2180.98333786],
        [2841.6570796 ],
        [1412.26328382],
        [3257.05091756],
        [1613.20517073],
        [1667.86551428],
        [1783.69683068],
        [2674.56923291],
        [ -19.84205353],
        [1379.58504783],
        [1781.69238528],
        [2885.75640987],
        [1607.47542965],
        [1607.65695355],
        [2030.72004316],
        [2599.79526196],
        [1047.3932583 ],
        [2610.80986881],
        [ 600.27114726],
        [3505.22804155],
        [ 270.19514368],
        [2132.9212261 ],
        [1118.60791791],
        [1601.9910057 ],
        [1500.29129067],
        [2983.32592487],
        [ -34.92725755],
        [3431.93118297],
        [ 526.57690347],
        [1986.77509674],
        [1030.80394146],
        [3917.98225583],
        [1955.1022767 ],
        [2322.97293776],
        [1250.0473033 ],
        [2956.04193506],
        [1826.11253086],
        [3927.95984163],
        [2147.61481172],
        [1869.57193213],
        [1126.55828541],
        [1989.72297719],
        [1420.42932283],
        [3107.87752725],
        [ 803.0143145 ],
        [1920.72905301],
        [1787.72580151],
        [3725.1785238 ],
        [1847.34612366],
        [2810.93540967],
        [ 224.70601086],
        [1549.41623629],
        [1441.95186539]])

In [6]:
from FileReader import File_Reader
f = File_Reader()
f.pho['image_id'].unique()

AttributeError: 'numpy.ndarray' object has no attribute 'to_list'

In [27]:
b.tie

             X     Y     Z
point_id
24           0  1700   100
71        2200  2500 -1200
85        2800  2000   500
89        2800  2000  -200
132       1800  3000  -800
133       2300  2400  -600

In [13]:
import pandas as pd
pd.concat([b.tie, b.con])

             X     Y     Z
point_id
24           0  1700   100
71        2200  2500 -1200
85        2800  2000   500
89        2800  2000  -200
132       1800  3000  -800
133       2300  2400  -600
A5          47  1788  1982
B1        1646  3052  1258
B2        2225  2490  1254
B8        1667  3038   489
B9        2215  2506   461
A32       -760   988  -547
A33       -182  1555  -541
A34        392  2122  -547
A35        976  2703  -558
BS8       2559  2177   701
AS10       236  1982  1751
AS12      -381  1373  1464
AS31      -868   889 -1222
AS32       840  2581 -1196
BS11      1585  3128   249
BS17      1767  2956  -796
BS20      2562  2179 -1033
BVS5      2444  2271  1610
BVS6      2212  2498  1613
AVS50       63  1799  1628
AVS51      345  2075  1623
AVS57     -513  1229  1230
AVS58       60  1792  1236
AVS59      630  2361  1248
AVS65     -796   945   776
AVS69      358  2093   784
AVS70      641  2371   777
AVS71      956  2682   797
AVS75     -794   946   402
AVS91     1318  3040    -5
BVS10     1941  2766  1253
BVS16     2747  1983   879
BVS35     2240  2480  -400
BVS36     1598  3109  -358
BVS37     1739  2973  -614
BVS38     2766  1968  -810
BVS42     1605  3101  -868
BVS43     2495  2234 -1205
BVS44     1967  2747 -1192
AVS104    -761   983  -898
AVS105    -476  1261  -874
AVS106    -192  1543  -895
AVS107     101  1834  -885
AVS108     394  2128  -914
AVS116     393  2129 -1352
AVS117     953  2683 -1334