In [4]:
import numpy as np
import pandas as pd
from Bundle import Bundle as B
import math as m
b = B()
print(b.obj.loc[b.obj['point_id'] == "24"])
print(b.ext.loc[b.ext["image_id"] == "5"])
b.ext[(b.ext["image_id"] == 5) | (b.ext["image_id"] == "5")]["w"]
b.pho['y'].to_list()

b.obj

  point_id    X       Y      Z
0       24  0.0  1700.0  100.0
  image_id camera_id      Xc    Yc     Zc     w     o    k
1        5        99  2620.0  90.0  120.0  90.0  40.0  0.0

   point_id       X       Y       Z
0        24     0.0  1700.0   100.0
1        71  2200.0  2500.0 -1200.0
2        85  2800.0  2000.0   500.0
3        89  2800.0  2000.0  -200.0
4       132  1800.0  3000.0  -800.0
5       133  2300.0  2400.0  -600.0
0        A5    47.0  1788.0  1982.0
1        B1  1646.0  3052.0  1258.0
2        B2  2225.0  2490.0  1254.0
3        B8  1667.0  3038.0   489.0
4        B9  2215.0  2506.0   461.0
5       A32  -760.0   988.0  -547.0
6       A33  -182.0  1555.0  -541.0
7       A34   392.0  2122.0  -547.0
8       A35   976.0  2703.0  -558.0
9       BS8  2559.0  2177.0   701.0
10     AS10   236.0  1982.0  1751.0
11     AS12  -381.0  1373.0  1464.0
12     AS31  -868.0   889.0 -1222.0
13     AS32   840.0  2581.0 -1196.0
14     BS11  1585.0  3128.0   249.0
15     BS17  1767.0  2956.0  -796.0
16     BS20  2562.0  2179.0 -1033.0
17     BVS5  2444.0  2271.0  1610.0
18     BVS6  2212.0  2498.0  1613.0
19    AVS50    63.0  1799.0  1628.0
20    AVS51   345.0  2075.0  1623.0
21    AVS57  -513.0  1229.0  1230.0
22    AVS58    60.0  1792.0  1236.0
23    AVS59   630.0  2361.0  1248.0
24    AVS65  -796.0   945.0   776.0
25    AVS69   358.0  2093.0   784.0
26    AVS70   641.0  2371.0   777.0
27    AVS71   956.0  2682.0   797.0
28    AVS75  -794.0   946.0   402.0
29    AVS91  1318.0  3040.0    -5.0
30    BVS10  1941.0  2766.0  1253.0
31    BVS16  2747.0  1983.0   879.0
32    BVS35  2240.0  2480.0  -400.0
33    BVS36  1598.0  3109.0  -358.0
34    BVS37  1739.0  2973.0  -614.0
35    BVS38  2766.0  1968.0  -810.0
36    BVS42  1605.0  3101.0  -868.0
37    BVS43  2495.0  2234.0 -1205.0
38    BVS44  1967.0  2747.0 -1192.0
39   AVS104  -761.0   983.0  -898.0
40   AVS105  -476.0  1261.0  -874.0
41   AVS106  -192.0  1543.0  -895.0
42   AVS107   101.0  1834.0  -885.0
43   AVS108   394.0  2128.0  -914.0
44   AVS116   393.0  2129.0 -1352.0
45   AVS117   953.0  2683.0 -1334.0

In [1]:
import numpy as np
from Bundle import Bundle as B
b = B()
from Design_e import Design_e as Ae
from Design_o import Design_o as Ao
ae = Ae()
np.savetxt("ae.csv", ae.A, fmt = '%s', delimiter = ",")
ae.A

matrix([[-8.97042612e-01,  3.42366402e-01,  8.39926628e-02, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [-8.16206426e-02,  2.13272444e-02,  8.39926628e-02, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [-4.25329834e-01,  4.71730668e-01,  4.90829510e-02, ...,
          0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        ...,
        [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
          5.74240573e+02,  2.83481201e+03,  8.04542410e+02],
        [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         -2.12064389e+03,  1.35796385e+01, -6.03601346e+01],
        [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         -5.33561131e+01,  2.03300968e+03, -4.56976764e+02]])

In [1]:
from Design_o import Design_o as Ao
ao = Ao()
ao.set_X_0()
print(ao.x_0)

In [6]:
from FileReader import File_Reader
f = File_Reader()
f.pho['image_id'].unique()

AttributeError: 'numpy.ndarray' object has no attribute 'to_list'

In [27]:
b.tie

             X     Y     Z
point_id
24           0  1700   100
71        2200  2500 -1200
85        2800  2000   500
89        2800  2000  -200
132       1800  3000  -800
133       2300  2400  -600

In [13]:
import pandas as pd
pd.concat([b.tie, b.con])

             X     Y     Z
point_id
24           0  1700   100
71        2200  2500 -1200
85        2800  2000   500
89        2800  2000  -200
132       1800  3000  -800
133       2300  2400  -600
A5          47  1788  1982
B1        1646  3052  1258
B2        2225  2490  1254
B8        1667  3038   489
B9        2215  2506   461
A32       -760   988  -547
A33       -182  1555  -541
A34        392  2122  -547
A35        976  2703  -558
BS8       2559  2177   701
AS10       236  1982  1751
AS12      -381  1373  1464
AS31      -868   889 -1222
AS32       840  2581 -1196
BS11      1585  3128   249
BS17      1767  2956  -796
BS20      2562  2179 -1033
BVS5      2444  2271  1610
BVS6      2212  2498  1613
AVS50       63  1799  1628
AVS51      345  2075  1623
AVS57     -513  1229  1230
AVS58       60  1792  1236
AVS59      630  2361  1248
AVS65     -796   945   776
AVS69      358  2093   784
AVS70      641  2371   777
AVS71      956  2682   797
AVS75     -794   946   402
AVS91     1318  3040    -5
BVS10     1941  2766  1253
BVS16     2747  1983   879
BVS35     2240  2480  -400
BVS36     1598  3109  -358
BVS37     1739  2973  -614
BVS38     2766  1968  -810
BVS42     1605  3101  -868
BVS43     2495  2234 -1205
BVS44     1967  2747 -1192
AVS104    -761   983  -898
AVS105    -476  1261  -874
AVS106    -192  1543  -895
AVS107     101  1834  -885
AVS108     394  2128  -914
AVS116     393  2129 -1352
AVS117     953  2683 -1334