In [1]:
import numpy as np
from Design_o import Design_o as Ao
from Net import Network
import pandas as pd

models = [Ao()]
n = Network(models)

#pd.DataFrame(n.Po)
#n.errs

#n.final_file()
#pd.DataFrame(n.Ae).to_csv("Ae")

In [3]:
from numpy import transpose as t
from numpy import matrix as mat, matmul as mm
from numpy.linalg import inv

from numpy import linalg as lin

n.obs_0()
n.w_0 =  n.l_0 - n.obs

n.set_N()
n.set_U()
n.S_hat = -mm(inv(n.N),n.U)

pd.DataFrame(n.U).to_csv("U_new.csv")

In [7]:
n.x_0[0:n.ue,0]

matrix([[-7.50000000e+02],
        [-2.70000000e+02],
        [ 1.20000000e+02],
        [ 1.57079633e+00],
        [-3.49065850e-01],
        [-8.72664626e-02],
        [ 2.62000000e+03],
        [ 9.00000000e+01],
        [ 1.20000000e+02],
        [ 1.57079633e+00],
        [ 6.98131701e-01],
        [ 0.00000000e+00],
        [-1.30000000e+02],
        [-6.60000000e+02],
        [ 7.00000000e+01],
        [ 1.57079633e+00],
        [-1.74532925e-01],
        [ 1.57079633e+00],
        [ 5.40000000e+02],
        [-6.40000000e+02],
        [ 6.00000000e+01],
        [ 1.39626340e+00],
        [-8.72664626e-02],
        [ 1.57079633e+00]])

In [7]:
from Design_o import Design_o as Ao
ao = Ao()
ao.ext

  image_id camera_id      Xc     Yc     Zc     w     o     k
0        1        99  -750.0 -270.0  120.0  90.0 -20.0  -5.0
1        5        99  2620.0   90.0  120.0  90.0  40.0   0.0
2        8        99  -130.0 -660.0   70.0  90.0 -10.0  90.0
3        9        99   540.0 -640.0   60.0  80.0  -5.0  90.0

In [2]:
#n.global_a_posteriori()
n.a_post
#n.significance_estimated_param()
#n.semi_global_residuals()
#n.blunder_detection()

54.39000163508455

In [3]:
pd.DataFrame(n.r_hat)

            0
0    0.080251
1    0.149610
2   -0.055040
3    0.362735
4   -0.040075
5    0.362488
6   -0.113101
7    0.277345
8   -0.058099
9    0.400367
10   0.107059
11   0.352474
12  -0.026549
13   0.248565
14   0.010029
15   0.313609
16  -0.053664
17   0.419705
18  -0.014469
19   0.313972
20  -0.136964
21   0.398337
22  -0.080327
23   0.411045
24  -0.025389
25   0.316967
26  -0.036767
27   0.347736
28  -0.078876
29   0.417311
..        ...
292  0.020768
293 -0.009551
294 -0.002020
295 -0.008262
296 -0.021121
297 -0.000539
298  0.023371
299 -0.004728
300 -0.000525
301  0.004996
302  0.010308
303  0.003133
304  0.005390
305 -0.002649
306  0.005130
307  0.012240
308  0.022920
309 -0.003185
310  0.014407
311 -0.006886
312 -0.009954
313  0.002018
314  0.014672
315 -0.007056
316 -0.000071
317  0.005284
318  0.005456
319 -0.008430
320  0.022974
321 -0.008204

[322 rows x 1 columns]

In [3]:
n.save_df(n.final_file(), "Final_Output")

In [5]:
n.a_post

10.529394797808639

In [9]:
import pandas as pd

df = pd.read_csv("Input.txt", delim_whitespace =True)
df

    std_u, std_n, pix_to_m, n_p_d(mm),    Np,   Mp,
0  .00345,   .01,  3.45e-6,         7,  3000,  4000